html,body {
    height:100%;
    margin: 0; padding: 0; border: 0;
}
body {
    background-image: url(../images/background.png);
}
.shadow {
    box-shadow: 15px 15px 15px 2px rgba(80,80,80,0.2);
}
.textShadow {
    text-shadow: 15px 15px 10px rgba(80,80,80,0.45);
}

input, label {
    height: 35px;
    font-size:30px;
    padding: 3px;
    margin: 2%;
}
input {
    display: block;
    background: #d0aa0d;
    float:left;
    border-radius: 10px;
    border: 2px solid #80321d;
}
label {
    display: inline-block;
    text-align: right;
    float:left;
}

.login label, .login input {
    width: 40%;
}
.login button.button {
    float:right;
    margin: 8%;
}

#searchBox {
    position: absolute;
    bottom: 3%;
    right: 15%;
}

/*
.center{
    display: table-cell; vertical-align: middle; position:absolute; margin: 0 auto; right:0; left: 0;
}
*/
#mask {
    position:absolute;
    z-index:9000;
    background-color:#000;
    display:none;
}
.modalBox {
    z-index:9999;
}

.tooltip {
    background: #d3d3d3;
    padding: 1%;
    width: 23%;
    border-radius: 10px;
    font-size: 20px
}

::-webkit-input-placeholder {
    color:    #866;
}

#loginFormButton, #signInFormButton {
    position: absolute;
    right: 20%;
    top: 0;
    z-index: 2;
    padding: 10px;
}
#loginFormButton {
    right: 20%;
}
#signInFormButton {
    right: 10%;
}