#gamesArea {
    width: 90%;
    height: 85%;
    top: 5%;
    left: 7%;
    position: absolute;
}


#gamesSliderPaged li img {
    margin: 0;
    width: 160px;
    height: 160px;
    margin-left: 130px;
    margin-top: 50px;

/*
    width: 1%;
    height: 1%;
*/
}

