#gamesArea {
    width: 90%;
    height: 85%;
    top: 5%;
    left: 7%;
    position: absolute;
}


#gamesSliderPaged li img {
    margin: 0;
    width: 120px;
    height: 120px;
    padding: 4px;

/*
    width: 1%;
    height: 1%;
*/
}

