.pagination {
    list-style: none;
    width: 95%;
    height: 100%;
    /*
                opacity: 0.8
    */
}
.pagination li {
    width: 100%;
    height: 100%;
}
/*
.pagination li div {
    width: 100%;
    height: 100%;
}*/
