.selectImgInUserSettings{
    display: none;
    position: absolute;
    background: url(../images/white_gradient.png);
    width: 40%;
    height: 55%;
    top: 20%;
    left: 30%
}
.selectImgInUserSettings img{
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: 60%;
}
.selectImgInUserSettings img:hover{
    height: auto;
    width: 65%;
    -webkit-transform: rotate(5deg); }

.selectImgInUserSettings table {
    width: 100%;
    height: 100%;
}
.selectImgInUserSettings tr {
    width: 100%;
    height: 50%;
}
.selectImgInUserSettings td {
    text-align: center;
    vertical-align: middle;
    width: 30%;
    height: 50%;
}

#signInForm .avatarHolder img{
    width: 30%;
    height: auto;
}